<!DOCTYPE html>
<html>
<head>
    <title>Удалить урок</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-5">Удалить урок</h1>
        <form method="POST" action="{{ url_for('delete_lesson') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.lesson.label ("Выберите урок") }}
                {{ form.lesson(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="{{ url_for('index') }}" class="btn btn-primary">Вернуться</a>
        </form>
    </div>
</body>
</html>
